:host {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.wrapper {
  align-items: center;
  background: rgb(0 0 0 / 60%);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.modal {
  align-items: center;
  background-color: #fff;
  box-shadow: var(--popup-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
  padding: 30px 35px;
  width: max-content;
  border-radius: 10px;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .title {
      text-transform: uppercase;
      color: var(--dark-text);
      font-size: 25px;
      letter-spacing: 1.1pt;
      font-weight: 700;
      margin: 0;
    }
  }
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
